<ul class="nav nav-tabs">
    <h2 class="logo">게시판 만들기</h2>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/list">LIST_ALL</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/list/1">LIST_PAGE_1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/write">WRITE</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" href="/register">회원가입</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/login">로그인</a>
    </li> -->
</ul>